@{
}
@using Intex2.Models
@model Intex2.Models.ViewModels.BurialsViewModel

<body>
    <div class="row m-1 p-1">
        <div id="types" class="col-3">
            filters later
        </div>
        <div class="col-9">
            @foreach (var item in Model.Burialmains)
            {
                <div class="card card-outline-primary m-1 p-1">
                    <div class="bg-light p-1">
                        <h4>Burial ID: @item.Id</h4>
                        <!--Add Edit and Delete Options-->
                        <a asp-controller="Home" asp-action="Edit">Edit</a>
                        <a asp-controller="Home" asp-action="Delete">Delete</a>
                    </div>
                    <ul>
                        <li>Burial Depth: @item.Depth</li>
                        <li>Sex: @item.Sex</li>
                        <li>Head Direction: @item.Headdirection</li>
                        <li>Hair Color: @item.Haircolor</li>
                        <li>Age at Death: @item.Ageatdeath</li>
                        <li>Textile Color</li>
                        <li>Textile Structure</li>
                        <li>Textile Function</li>
                        <li>Estimate Stature</li>
                    </ul>
                </div>
                <br />
            }
        </div>
    </div>
</body>
<div class="overflow-auto">
    <div page-model="@Model.PageInfo" page-action="DisplayBurials" page-class="btn"
     page-classes-enabled="true" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>
</div>
