@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MoreInfoViewModel
<div class="card card-outline-primary m-1 p-1" style="border: 3px solid #ccc; border-radius: 5px;">
    <div class="bg-light p-1">
        <h4>Basic Info for Burial ID: @(Model.CustomBurialId)</h4>

        <!--Add Edit and Delete Options-->
        <a asp-controller="Home" asp-action="Edit" class="btn btn-primary">Edit</a>
        <a asp-controller="Home" asp-action="Delete" class="btn btn-primary">Delete</a>
    </div>

    <ul>
        <li class="list-group-item"><b>Burial Depth:</b> @(Model?.Depth ?? "N/A")</li>
        <li class="list-group-item"><b>Sex:</b> @(Model?.Sex ?? "N/A")</li>
        <li class="list-group-item"><b>Age at Death:</b> @(Model?.AgeAtDeath ?? "N/A")</li>
        <li class="list-group-item"><b>Textile Color:</b> @(Model?.Color ?? "N/A")</li>
        <li class="list-group-item"><b>Textile Structure:</b> @(Model?.TextileStructure ?? "N/A")</li>
        <li class="list-group-item"><b>Textile Function:</b> @(Model?.TextileFunction ?? "N/A")</li>
        <li class="list-group-item"><b>Alternate ID:</b> @(Model?.Id)</li>
    </ul>
    <div class="bg-light p-1">
        <h4>Yarn Manipulation Info:</h4>
        @if (Model.YarnManipulations.Count == 0)
        {
            <p>No Yarn Data For This Record</p>
        }
    </div>
    <ul>
        @foreach (var ym in Model.YarnManipulations)
        {

            <li class="list-group-item"><b>Component:</b> @ym.Component</li>
            <li class="list-group-item"><b>Material:</b> @ym.Material</li>
            <li class="list-group-item"><b>Direction:</b> @ym.Direction</li>
            <li class="list-group-item"><b>Count:</b> @ym.Count</li>
            <li class="list-group-item"><b>Ply:</b> @ym.Ply</li>


        }
    </ul>
</div>

<h2>Yarn Manipulation Images</h2>
@if (Model.YarnManipulations.Count == 0)
{
    <p>No Yarn Images For This Record</p>
}
<div class="row">
    @foreach (var photo in Model.PhotoDataList)
    {
        <p class="list-group-item" ><b>Description:</b> @photo.Description</p><br />
        <div class="col-md-4">
            <img src="@photo.Url" class="img-fluid" alt="Image from PhotoData" />
        </div>
    }
</div>



<br />
