@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MoreInfoViewModel
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>Basic Info for Burial ID: @(Model.CustomBurialId)</h4>
        
        <!--Add Edit and Delete Options-->
        <a asp-controller="Home" asp-action="Edit">Edit</a>
        <a asp-controller="Home" asp-action="Delete">Delete</a>
    </div>

    <ul>
        <li>Burial Depth: @(Model?.Depth ?? "N/A")</li>
        <li>Sex: @(Model?.Sex ?? "N/A")</li>
        @*<li>Head Direction: @item.Headdirection</li>
            <li>Hair Color: @item.Haircolor</li>*@
        <li>Age at Death: @(Model?.AgeAtDeath ?? "N/A")</li>
        <li>Textile Color: @(Model?.Color ?? "N/A")</li>
        <li>Textile Structure: @(Model?.TextileStructure ?? "N/A")</li>
        <li>Textile Function: @(Model?.TextileFunction ?? "N/A")</li>
        <li>Alternate ID: @(Model?.Id)</li>
    </ul>
    <div class="bg-light p-1">
        <h4>Yarn Manipulation Info:</h4>
        @if (Model.YarnManipulations.Count == 0)
        {
            <p>No Yarn Data For This Record</p>
        }
    </div>
    <ul>
        @foreach (var ym in Model.YarnManipulations)
        {

            <li>Component: @ym.Component</li>
            <li>Material: @ym.Material</li>
            <li>Direction: @ym.Direction</li>
            <li>Count: @ym.Count</li>
            <li>Ply: @ym.Ply</li>


        }
    </ul>
</div>

<h2>Yarn Manipulation Images</h2>
@if (Model.YarnManipulations.Count == 0)
{
    <p>No Yarn Images For This Record</p>
}
<div class="row">
    @foreach (var photo in Model.PhotoDataList)
    {
        <p>Description: @photo.Description</p><br />
        <div class="col-md-4">
            <img src="@photo.Url" class="img-fluid" alt="Image from PhotoData" />
        </div>
    }
</div>



<br />
